<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/signup.css">
    <title>Sign Up</title> 
</head>
<body> 
    <h1>Sign Up</h1>
    <form action="/action_page.php"></form>
         <input type="text" name="" placeholder="Name">
        <input type="text" name="" placeholder="Email"> 
        <input type="text" name="" placeholder="Phone Number"> 
        <input type="number" name="" placeholder="Age">
        <input type="text" name="" placeholder="Gender">
<button>Sign Up</button>    
<br>
<br>
<h2>Already have an account?<a class="call" href="#">click here</a></h2>
<br>
<br>
<footer>Developed by Nusaybah Fuad-Gafar</footer>
</body>
</html>
